{% extends "base.html" %}

{% block page_class %}home-page{% endblock %}
{% block content %}
<div class="content-wrapper">
	<div class="content">
		<article class="description-wrapper">
			<div class="description">
				<p>{{ description|safe|escape }}</p>
			</div>
		</article>
		<section class="experience-wrapper">
			<header><h3>Experience</h3></header>
			<ul class="experience">
			{% for exp in experience %}
				{% include "website/experience.html" %}
			{% endfor %}
			</ul>
		</section>
		<section class="skills-wrapper">
			<header><h3>Skills</h3></header>
			<div class="skills">
			{% for group in skills %}
				{% include "website/skill.html" %}
			{% endfor %}
			</div>
		</section>
	</div>
</div>
{% endblock %}