/* ---------- ---------- ---------- */
/*  Variables                       */
/* ---------- ---------- ---------- */

@sky-blue: #128CC9;
@mid-grey: #666666;
@dark-grey: #111111;

/* ---------- ---------- ---------- */
/*  Mixins                          */
/* ---------- ---------- ---------- */


/* ---------- ---------- ---------- */
/*  Styles                          */
/* ---------- ---------- ---------- */

body {	
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14pt;
	color: @dark-grey;
	-webkit-print-color-adjust:exact;
}